<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/053f398cf5.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>
  <body>
    <header class="main-header">
      <div class="top-main-header">
        <div class="divlogo">
          <img src="/images/logo3.png" alt="logo" class="logo" />
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Buscar productos, marcas" />
          <button><i class="fas fa-search"></i></button>
        </div>
        <div class="iconos">
          <a class="carrito" href="/productCart"
            ><i class="fas fa-shopping-cart"></i
          ></a>
          <a class="favoritos" href="#"><i class="fas fa-heart"></i></a>
          <a class="usuario" href="/login"><i class="fas fa-user"></i></a>
        </div>
      </div>
      <nav class="nav-bar">
        <ul class="nav">
          <li><a href="#">Lentes de Sol</a></li>
          <li><a href="#">Marcas</a></li>
          <li><a href="#">Colecciones</a></li>
          <li><a href="#">Ofertas</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="container">
        <div class="carousel">
          <div class="flecha-izq flecha">
            <button><i class="fas fa-chevron-left"></i></button>
          </div>
          <div class="flecha-der flecha">
            <button><i class="fas fa-chevron-right"></i></button>
          </div>
          carousel
        </div>
      </section>
      <h2 class="container-fluid">productos destacados</h2>
      <section class="container">
        <div class="productos-des">
          <a href="/productDetail"
            ><div class="img1 img-des">
              <img
                src="/images/0RB3025__001_33_000A.jpg"
                width="100%"
                class="small-img"
              /></div
          ></a>
          <a href="/productDetail"
            ><div class="img2 img-des">
              <img
                src="/images/0RB3025__001_33_000A.jpg"
                width="100%"
                class="small-img"
              /></div
          ></a>
          <a href="/productDetail"
            ><div class="img3 img-des">
              <img
                src="/images/0RB3025__001_33_000A.jpg"
                width="100%"
                class="small-img"
              /></div
          ></a>
        </div>
      </section>
      <h2 class="container-fluid">Top marcas</h2>
      <section class="container">
        <div class="marcas">
          <div class="img1 img-marca"></div>
          <div class="img2 img-marca"></div>
          <div class="img3 img-marca"></div>
          <div class="img4 img-marca"></div>
          <div class="img5 img-marca"></div>
          <div class="img6 img-marca"></div>
          <div class="img7 img-marca"></div>
          <div class="img8 img-marca"></div>
        </div>
      </section>
      <h2 class="container-fluid">Modelos</h2>
      <section class="container modelos-home">
        <div class="filtro-busqueda">
          <div class="search-bar">
            <h2>Filtro de busqueda</h2>
          </div>
          <div class="filtros">
            <div>
              <button><i class="fas fa-chevron-down"></i></button>
              <h2>Marcas</h2>
            </div>
            <div>
              <button><i class="fas fa-chevron-down"></i></button>
              <h2>Forma</h2>
            </div>
            <div>
              <button><i class="fas fa-chevron-down"></i></button>
              <h2>Genero</h2>
            </div>
            <div>
              <button><i class="fas fa-chevron-down"></i></button>
              <h2>Precio</h2>
            </div>
          </div>
        </div>
        <div class="modelos">
          <div class="img1 img-modelo"></div>
          <div class="img2 img-modelo"></div>
          <div class="img3 img-modelo"></div>
          <div class="img4 img-modelo"></div>
          <div class="img5 img-modelo"></div>
          <div class="img6 img-modelo"></div>
        </div>
      </section>
    </main>
    <footer>
      <div class="quienesSomos">
        <h3>Quienes Somos</h3>
        <p>
          Sunglasses es una compañía independiente de anteojos de sol fundada en
          2021 en el tranquilo suburbio de Banfield, Buenos Aires. El nombre
          deriva del inglés, haciendo homenaje a las raíces anglosajonas de
          nuestro barrio. Sin embargo, nuestros anteojos de sol fueron diseñados
          para la vida porteña. Hacemos enfásis en la comodidad y en la calidad
          de nuestros cristales. Nuestros valores reflejan lo que un negocio
          fundado por un grupo de jovenes citadinos y el estilo minimalista que
          promueven.
        </p>
      </div>
      <div class="atencionAlCliente">
        <h3>Atención al Cliente</h3>
        <ul>
          <li><a href="#">Cómo comprar</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Politicas de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Información del envío</a></li>
        </ul>
      </div>
      <div class="mediosDePago">
        <h3>Medios de Pago</h3>
        <ul>
          <li><i class="fab fa-cc-visa"></i></li>
          <li><i class="fab fa-cc-mastercard"></i></li>
          <li><i class="fab fa-cc-paypal"></i></li>
        </ul>
      </div>
      <div class="contacto">
        <h3>¡Seguinos!</h3>
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
