<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/053f398cf5.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="scripts/slider.js" defer></script>
    <title>Home</title>
  </head>
  <body>
    <div class="header">
      <header class="main-header">
        <div class="top-main-header">
          <div class="divlogo">
            <img src="/images/logo3.png" alt="logo" class="logo" />
          </div>
          <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas" />
            <button><i class="fas fa-search"></i></button>
          </div>
          <div class="iconos">
            <a class="carrito" href="/productCart"
              ><i class="fas fa-shopping-cart"></i
            ></a>
            <a class="favoritos" href="#"><i class="fas fa-heart"></i></a>
            <a class="usuario" href="/login"><i class="fas fa-user"></i></a>
          </div>
        </div>
        <nav class="nav-bar">
          <ul class="nav">
            <li><a href="#">Lentes de Sol</a></li>
            <li><a href="#">Marcas</a></li>
            <li><a href="#">Colecciones</a></li>
            <li><a href="#">Ofertas</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <main>
      <section class="container">
        <div class="container-slider">
          <div class="slider" id="slider">
            <div class="slider-section"><img src="images/slider_rayban1200.jpg" alt="slider-img" class="slider-img"></div>
            <div class="slider-section"><img src="images/slider_raynban2400.jpg" alt="slider-img" class="slider-img"></div>
            <div class="slider-section"><img src="images/slider2_1200.jpg" alt="slider-img" class="slider-img"></div>
            <div class="slider-section"><img src="images/slidervogue1200.jpg" alt="slider-img" class="slider-img"></div>
          </div>
          <div class="slider-btn slider-btn-right" id="btn-right">
            <i class="fas fa-chevron-right"></i>
          </div>
          <div class="slider-btn slider-btn-left" id="btn-left">
            <i class="fas fa-chevron-left"></i>
          </div>
        </div>
      </section>
      <h2 class="container-fluid">Productos destacados</h2>
      <section class="container">
        <div class="productos-des">
          <style>
            a {
              text-decoration: none;
            }
          </style>
          <a href="/productDetail"
            ><div class="img1 img-des">
              <img
                src="/images/0RB3025__001_33_000A.jpg"
                width="100%"
                class="small-img"
              />
            </div>
            <section class="info-producto">
              <section class="info-precio">
                <p class="precio">$15.500</p>
                <p class="descuento">40% OFF</p>
              </section>
              <h4 class="descripcion">Ray Ban 4200</h4>
            </section>
          </a>
          <a href="/productDetail"
            ><div class="img2 img-des">
              <img
                src="/images/0DG2166__04_96_000A.jpg"
                width="100%"
                class="small-img"
              />
            </div>
            <section class="info-producto">
              <section class="info-precio">
                <p class="precio">$15.500</p>
                <p class="descuento">40% OFF</p>
              </section>
              <h4 class="descripcion">Ray Ban 4200</h4>
            </section></a
          >
          <a href="/productDetail"
            ><div class="img3 img-des">
              <img
                src="/images/0VJ2004__W65673_000A.jpg"
                width="100%"
                class="small-img"
              />
            </div>
            <section class="info-producto">
              <section class="info-precio">
                <p class="precio">$15.500</p>
                <p class="descuento">40% OFF</p>
              </section>
              <h4 class="descripcion">Ray Ban 4200</h4>
            </section></a
          >
        </div>
      </section>
      <h2 class="container-fluid">Top marcas</h2>
      <section class="container">
        <div class="marcas">
          <div class="img1 img-marca">
            <img src="/images/rayban1200.jpg" width="100%" class="small-img" />
          </div>
          <div class="img2 img-marca">
            <img
              src="/images/dolce-e-gabbana1200.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img3 img-marca">
            <img
              src="/images/emporio-armani1200.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img4 img-marca">
            <img
              src="/images/pradaeyewear1200.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img5 img-marca">
            <img
              src="/images/vogue_1200x420.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img6 img-marca">
            <img
              src="/images/michael-kors1200.jpg"
              width="100%"
              class="small-img"
            />
          </div>
        </div>
      </section>
      <h2 class="container-fluid">Modelos</h2>
      <section class="container modelos-home">
        <div class="modelos">
          <div class="img1 img-modelo">
            <img
              src="/images/0RB2140__902_000A.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img2 img-modelo">
            <img
              src="/images/0RB3561__002_58_000A.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img3 img-modelo">
            <img
              src="/images/0RB4098__710_71_000A.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img4 img-modelo">
            <img
              src="/images/0VO5280SB__W44_87_000A.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img5 img-modelo">
            <img
              src="/images/0VO5211S__2073_2_000A.jpg"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="img6 img-modelo">
            <img
              src="/images/0VO4106S__848_F5_000A.jpg"
              width="100%"
              class="small-img"
            />
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="quienesSomos">
        <h3>Quienes Somos</h3>
        <p>
          Sunglasses Riot es una compañía independiente de anteojos de sol
          fundada en 2021 en el tranquilo suburbio de Banfield, Buenos Aires. El
          nombre deriva del inglés, haciendo homenaje a las raíces anglosajonas
          de nuestro barrio. Sin embargo, nuestros anteojos de sol fueron
          diseñados para la vida porteña. Hacemos enfásis en la comodidad y en
          la calidad de nuestros cristales. Nuestros valores reflejan un negocio
          fundado por un grupo de jóvenes citadinos y el estilo minimalista que
          promueven.
        </p>
      </div>
      <div class="atencionAlCliente">
        <h3>Atención al Cliente</h3>
        <ul>
          <li><a href="#">Cómo comprar</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Politicas de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Información del envío</a></li>
        </ul>
      </div>
      <div class="mediosDePago">
        <h3>Medios de Pago</h3>
        <ul>
          <li><i class="fab fa-cc-visa"></i></li>
          <li><i class="fab fa-cc-mastercard"></i></li>
          <li><i class="fab fa-cc-paypal"></i></li>
        </ul>
      </div>
      <div class="contacto">
        <h3>¡Seguinos!</h3>
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
