<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <script
      src="https://kit.fontawesome.com/053f398cf5.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <body>
    <header class="main-header">
      <div class="top-main-header">
        <div class="divlogo">
          <a href="/"
            ><img src="/images/logo3.png" alt="logo" class="logo" href
          /></a>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Buscar productos, marcas" />
          <button><i class="fas fa-search"></i></button>
        </div>
        <div class="iconos">
          <a class="carrito" href="/productCart"
            ><i class="fas fa-shopping-cart"></i
          ></a>
          <a class="favoritos" href="#"><i class="fas fa-heart"></i></a>
          <a class="usuario" href="/login"><i class="fas fa-user"></i></a>
        </div>
      </div>
      <nav class="nav-bar">
        <ul class="nav">
          <li><a href="#">Lentes de Sol</a></li>
          <li><a href="#">Marcas</a></li>
          <li><a href="#">Colecciones</a></li>
          <li><a href="#">Ofertas</a></li>
        </ul>
      </nav>
    </header>
    <!-- 
    <main>
      <section class="producto">
        <img src="/images/anteojos.jpg" class="foto-producto" />
      </section>
    </main> 
    -->
    <div class="small-container single-product">
      <div class="row">
        <div class="col-2">
          <img src="/images/0RB3025__001_33_000A.jpg" width="100%" id="ProductImg" />
          <div class="small-img-row">
             <div class="small-img-col">
              <img src="/images/0RB3025__001_33_000A.jpg" width="100%" class="small-img" />
            </div>
            <div class="small-img-col">
              <img src="/images/0RB3025__001_33_030A.jpg" width="100%" class="small-img" />
            </div>
            <div class="small-img-col">
              <img src="/images/0RB3025__001_33_060A.jpg" width="100%" class="small-img" />
            </div>
             <div class="small-img-col">
              <img src="/images/0RB3025__001_33_090A.jpg" width="100%" class="small-img" />
            </div>
          </div>
        </div>
        <div class="col-2">
          <p>Home / Anteojos de Sol / Rayban</p>
          <h1>Ray Ban 4250</h1>
          <h4>$15.500</h4>
          <select>
            <option>Seleccione Color</option>
            <option>Polarizado Azul</option>
            <option>Polarizado Marron</option>
          </select> 
          <input type="number" value="1">
          <a href="" class="btn">Agregar al carrito</a>
          <h3>Detalle del producto<i class="fa fa-indent"></i>
          </h3>
          <br>
          <p>Las Ray-Ban Original Wayfarer Classic son el modelo más reconocible en la historia de las gafas de sol. Desde su diseño inicial en 1952, las Wayfarer Classic fueron popularizándose entre celebridades, músicos, artistas y personas con un sentido de la moda impecable.
          Como estilo emblemático de gafas de sol, las Original Wayfarer Classic siempre constituyen una auténtica declaración de intenciones. Puedes elegir unas clásicas gafas de sol Wayfarer con montura negra con una variedad de tratamientos de las lentes, como cristal verde, cristal gris degradado, G-15 polarizadas, etc.
          </p>

          </input>
        </div>
       
      </div>
    </div>
    <script>
      var ProductImg=document.getElementById("ProductImg");
      var SmallImg=document.getElementsByClassName("small-img");
      
      SmallImg[0].onclick=function()
        {
          ProductImg.src = SmallImg[0].src;
         }
      SmallImg[1].onclick=function()
        {
          ProductImg.src = SmallImg[1].src;
         }
      SmallImg[2].onclick=function()
        {
          ProductImg.src = SmallImg[2].src;
         }
      SmallImg[3].onclick=function()
        {
          ProductImg.src = SmallImg[3].src;
         }
    </script>
    <footer>
      <div class="quienesSomos">
        <h3>Quienes Somos</h3>
        <p>
          Sunglasses Riot es una compañía independiente de anteojos de sol fundada en
          2021 en el tranquilo suburbio de Banfield, Buenos Aires. El nombre
          deriva del inglés, haciendo homenaje a las raíces anglosajonas de
          nuestro barrio. Sin embargo, nuestros anteojos de sol fueron diseñados
          para la vida porteña. Hacemos enfásis en la comodidad y en la calidad
          de nuestros cristales. Nuestros valores reflejan un negocio
          fundado por un grupo de jóvenes citadinos y el estilo minimalista que
          promueven.
        </p>
      </div>
      <div class="atencionAlCliente">
        <h3>Atención al Cliente</h3>
        <ul>
          <li><a href="#">Cómo comprar</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Politicas de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Información del envío</a></li>
        </ul>
      </div>
      <div class="mediosDePago">
        <h3>Medios de Pago</h3>
        <ul>
          <li><i class="fab fa-cc-visa"></i></li>
          <li><i class="fab fa-cc-mastercard"></i></li>
          <li><i class="fab fa-cc-paypal"></i></li>
        </ul>
      </div>
      <div class="contacto">
        <h3>¡Seguinos!</h3>
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
