* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
}

/* header */
.top-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 15px;
  width: 75px;
}
.divlogo {
  display: flex;
  flex-grow: 0.2;
  justify-content: center;
}
.search-bar {
  display: flex;
  flex-grow: 0.4;
  justify-content: center;
}
.search-bar button {
  border-radius: 2px;
}
.search-bar input {
  border-radius: 2px;
}
.iconos {
  display: flex;
  flex-grow: 0.4;
  justify-content: center;
}
.iconos a {
  color: black;
  margin: 15px;
  font-size: 25px;
  transition: color 450ms;
}
.iconos a:hover {
  color: salmon;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  border: 1px solid black;
  list-style: none;
}
nav ul li a {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: color 450ms;
}
nav ul li a:hover {
  color: salmon;
}
@media (max-width: 465px) {
  .top-main-header {
    display: block;
  }
}
/* main */
.producto {
  position: relative;
}
.foto-producto {
  border: solid black 2px;
  width: 60%;
  position: absolute;
  left: 10%;
  top: 100px;
}

.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.single-product {
  margin-top: 80px;
}
.small-img-row {
  display: flex;
  justify-content: space-around;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.single-product .col-2 img {
  padding: 0%;
  transition: all 500ms;
}
.single-product .col-2 img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  border: 2px solid salmon;
  border-radius: 2px;
}

.single-product .col-2 {
  padding: 20px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid salmon;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #555;
}
.single-product .fa {
  color: salmon;
  margin-left: 10px;
}
p {
  color: #555;
}
.btn {
  display: inline-block;
  background: salmon;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: backgroud 0.5s;
}
.btn:hover {
  background: #563434;
}
/* footer */
footer {
  border: black solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.quienesSomos {
  width: 40%;
  padding: 10px;
  display: none;
}
.atencionAlCliente {
  padding: 10px;
}
footer h3 {
  margin-bottom: 10px;
}
footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: black;
  transition: color 450ms;
}
footer a:hover {
  color: salmon;
}
.mediosDePago ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacto {
  margin-right: 20px;
}
@media (min-width: 769px) {
  .search-bar input {
    width: 60%;
    height: 30px;
  }
  .search-bar button {
    width: 28px;
  }
  .quienesSomos {
    display: inline-block;
  }
  footer {
    margin-top: 50px;
  }
}
