<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', {nameStyle: 'register', titleHTML: 'Creación de Productos'}) %> 
</head>

<body>
    <%- include('./partials/header') %>

    <main>
        <section>
          <div class="mensaje">
            <h2>Creá tu producto</h2>
          </div>
          <form action="/createProduct" method="post" class="formulario" enctype="multipart/form-data">
            <div class="nombreDeProducto">
              <label for="nombreDeProducto">Nombre de Producto</label>
              <input type="text" name="nombreDeProducto" id="nombreDeProducto" required />
            </div>
            <div class="marca">
              <label for="marca">Marca</label>
              <input type="text" name="marca" id="marca" required />
            </div>
            <div class="precio">
              <label for="precio">Precio</label>
              <input type="number" name="precio" id="precio"  required/>
            </div>
            <div class="color">
                <label for="color">Color del cristal</label>
                <select>
                    <option>Polarizado Verde</option>
                    <option>Polarizado Azul</option>
                    <option>Polarizado Marron</option>
                </select>
            </div>
            <div class="descripcion">
                <textarea name="descripcion" id="descripcion" cols="30" rows="10" required >Descripción del Producto</textarea>
            </div>
            <div class="imagen">
                <label for="imagenDelProducto">Imagen del producto</label>
<input type="file" name="imagenDelProducto" accept="image/*" multiple>
            </div>
            <button type="submit" class="boton" required>Crear</button>
          </form>
      </main>
      
      <%- include('./partials/footer') %> 
    </body>
    
    </html>