<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', {nameStyle: 'register' , titleHTML: 'Creaci칩n de Productos' }) %>
</head>

<body>
  <%- include('./partials/header') %>

    <main>
      <section>
        <div class="mensaje">
          <h2>Cre치 tu producto</h2>
        </div>
        <form action="/createProduct" method="POST" class="formulario" enctype="multipart/form-data">
          <div class="nombreDeProducto">
            <label for="nombreDeProducto">Nombre de Producto</label>
            <input type="text" name="nombreDeProducto" id="nombreDeProducto" required />
          </div>
          <div class="marca">
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca" required />
          </div>
          <div class="precio">
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" required />
          </div>
          <div class="id">
            <label for="id">Numero de id</label>
            <input type="id" name="id" id="id" required />
          </div>
          <div class="color">
            <label for="color">Color del cristal</label>
            <select name="color" id="color">
              <option> Verde</option>
              <option> Azul</option>
              <option> Marr칩n</option>
              <option> Negro</option>
              <option> Magenta</option>
            </select>
          </div>
          <div class="descripcion">
            <textarea name="descripcion" id="descripcion" cols="30" rows="10"
              required>Descripci칩n del Producto</textarea>
          </div>
          <div class="imagen">
            <label for="imagenDelProducto">Imagenes del producto </label>
            <input type="file" name="imagen" accept="image/*" multiple>

            <button type="submit" class="boton" required>Crear</button>
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>