* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans Condensed", sans-serif;
}

/* header */
.top-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 15px;
  width: 75px;
}
.divlogo {
  display: flex;
  flex-grow: 0.2;
  justify-content: center;
}
.search-bar {
  display: flex;
  flex-grow: 0.4;
  justify-content: center;
}
.search-bar button {
  border-radius: 2px;
}
.search-bar input {
  border-radius: 2px;
}
.iconos {
  display: flex;
  flex-grow: 0.4;
  justify-content: center;
}
.iconos a {
  color: black;
  margin: 15px;
  font-size: 25px;
  transition: color 450ms;
}
.iconos a:hover {
  color: salmon;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  border: 1px solid black;
  list-style: none;
}
nav ul li a {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: color 450ms;
  font-weight: 1000;
}
nav ul li a:hover {
  color: salmon;
}
/* cart */
.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}
.img-cart {
  width: 200px;
  height: 100px;
  margin: 10px;
}
.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: salmon;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: salmon;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.precio-total {
  display: flex;
  justify-content: flex-end;
}
.precio-total table {
  border-top: 3px solid salmon;
  width: 100%;
  max-width: 350px;
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
.total-total {
  font-size: 35px;
}
/* fin cart */

/* footer */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: salmon;
  color: #fff;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 30px;
  transition: backgroud 0.5s;
  transform: scale(1.3);
}
.btn:hover {
  background: #563434;
}
footer {
  border: black solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.quienesSomos {
  width: 40%;
  padding: 10px;
  display: none;
}
.atencionAlCliente {
  padding: 10px;
}
footer h3 {
  margin-bottom: 10px;
}
footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: black;
  transition: color 450ms;
}
footer a:hover {
  color: salmon;
}
.mediosDePago ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacto {
  margin-right: 20px;
}
@media (max-width: 465px) {
  .top-main-header {
    display: block;
  }
}
@media (min-width: 769px) {
  .search-bar input {
    width: 60%;
    height: 30px;
  }
  .search-bar button {
    width: 28px;
  }
  .quienesSomos {
    display: inline-block;
  }
  footer {
    margin-top: 50px;
  }
}
