<div class="container-fluid bg-light footer">
    <div class="container py-5">
        <div class="row flex-column flex-sm-row">
            <div class="col-12 col-sm-5" id="about">
                <h3 class="text-center">¿Quienes Somos?</h3>
                <p class="text-center">Sunglasses Riot es una compañía independiente de anteojos de sol fundada en 2021 en el tranquilo
                    suburbio de Banfield, Buenos Aires. El nombre deriva del inglés, haciendo homenaje a las raíces
                    anglosajonas de nuestro barrio. Sin embargo, nuestros anteojos de sol fueron diseñados para la vida
                    porteña. Hacemos enfásis en la comodidad y en la calidad de nuestros cristales. Nuestros valores
                    reflejan un negocio fundado por un grupo de jóvenes citadinos y el estilo minimalista que promueven.
                </p>
            </div>
            <div class="col-12 col-sm-2">
                <h3 class="text-center">Atención al Cliente</h3>
                <ul class="d-flex flex-column align-items-center align-items-sm-start">
                    <li><a href="/#" class="text-decoration-none text-dark">Contacto</a></li>
                    <li><a href="/#" class="text-decoration-none text-dark">Preguntas Frecuentes</a></li>
                    <li><a href="/#" class="text-decoration-none text-dark">Términos y Condiciones</a></li>
                    <li><a href="/#" class="text-decoration-none text-dark">Política de Privacidad</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3">
                <h3 class="text-center">Medios de Pago</h3>
                <div class="d-flex flex-column align-items-center">
                    <i class="fa-brands fa-paypal fs-2 my-2"></i>
                    <i class="fa-brands fa-cc-mastercard fs-2 my-2"></i>
                    <i class="fa-brands fa-cc-visa fs-2 my-2"></i>
                </div>
            </div>
            <div class="col-12 col-sm-2" id="redes">
                <h3 class="text-center">Siguenos</h3>
                <div class="d-flex flex-column align-items-center">
                    <a href="/#" class="text-decoration-none text-dark fs-2"><i class="fa-brands fa-facebook"></i></a>
                    <a href="/#" class="text-decoration-none text-dark fs-2"><i class="fa-brands fa-instagram"></i></a>
                    <a href="/#" class="text-decoration-none text-dark fs-2"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>