<footer>
    <div class="quienesSomos">
        <h3>Quienes Somos</h3>
        <p>
            Sunglasses Riot es una compañía independiente de anteojos de sol
            fundada en 2021 en el tranquilo suburbio de Banfield, Buenos Aires. El
            nombre deriva del inglés, haciendo homenaje a las raíces anglosajonas
            de nuestro barrio. Sin embargo, nuestros anteojos de sol fueron
            diseñados para la vida porteña. Hacemos enfásis en la comodidad y en
            la calidad de nuestros cristales. Nuestros valores reflejan un negocio
            fundado por un grupo de jóvenes citadinos y el estilo minimalista que
            promueven.
        </p>
    </div>
    <div class="atencionAlCliente">
        <h3>Atención al Cliente</h3>
        <ul>
            <li><a href="#">Cómo comprar</a></li>
            <li><a href="#">Preguntas frecuentes</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Información del envío</a></li>
        </ul>
    </div>
    <div class="mediosDePago">
        <h3>Medios de Pago</h3>
        <ul>
            <li><i class="fab fa-cc-visa"></i></li>
            <li><i class="fab fa-cc-mastercard"></i></li>
            <li><i class="fab fa-cc-paypal"></i></li>
        </ul>
    </div>
    <div class="contacto">
        <h3>¡Seguinos!</h3>
        <ul>
            <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</footer>