<div class="header">
  <header class="main-header">
    <div class="top-main-header">
      <div class="divlogo">
        <a href="/"><img src="/images/logo3.png" alt="logo" class="logo" /></a>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar productos, marcas" />
        <button><i class="fas fa-search"></i></button>
      </div>
      <div class="iconos">
        <a class="carrito" href="/productCart"
          ><i class="fas fa-shopping-cart"></i
        ></a>
        <a class="favoritos" href="#"><i class="fas fa-heart"></i></a>
        <% if(locals.user){ %>
        <a class="perfil" href="/users/profile"><i class="fas fa-user"></i></a>
        <a class="salir" href="/users/logout"><i class="fas fa-sign-out-alt"></i></a>
        <p class="user-name"><%= user.user %></p>
        <% }else{ %>
          <a class="usuario" href="/users/login"><i class="fas fa-user"></i></a>
        <% } %>
      </div>
    </div>
    <nav class="nav-bar">
      <ul class="nav">
        <li><a href="/products">Lentes de Sol</a></li>
        <li><a href="#">Marcas</a></li>
        <li><a href="#">Colecciones</a></li>
        <li><a href="#">Ofertas</a></li>
      </ul>
    </nav>
  </header>
</div>
