<div class="header">
    <header class="main-header">
        <div class="top-main-header">
            <div class="divlogo">
                <img src="/images/logo3.png" alt="logo" class="logo" />
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Buscar productos, marcas" />
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="iconos">
                <a class="carrito" href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <a class="favoritos" href="#"><i class="fas fa-heart"></i></a>
                <a class="usuario" href="/auth/login"><i class="fas fa-user"></i></a>
            </div>
        </div>
        <nav class="nav-bar">
            <ul class="nav">
                <li><a href="#">Lentes de Sol</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Colecciones</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </nav>
    </header>
</div>