
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/<%= typeof nameStyle !== 'undefined' ? nameStyle : 'styles' %>.css" />
    <script src="https://kit.fontawesome.com/053f398cf5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet" />
    <script src="/scripts/slider.js" defer></script>
    <title>
        <%= typeof titleHTML !=='undefined' ? titleHTML +' | SG RIOT' : 'Sunglasses RIOT' %>
    </title>